---
import Main from '../components/Main.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title='404'>
  <Main>
    <h1>404</h1>
    <p class='text-center pt-12 text-2xl'>Page not found</p>
  </Main>
</Layout>
