---

import Layout from '../layouts/Layout.astro';
---

<Layout title='Welcome to Astro.'>
  <main class="w-full px-24 mx-auto max-sm:px-5 max-w-7xl">
    <h1 class='mb-5 text-6xl font-bold text-teal-900'>Welcome to Astro.</h1>
    <p class='mb-24 text-2xl text-teal-900 max-sm:mb-14'>
      This is a demo of Astro, a new static site builder for the modern web.
    </p>
    <hr class="w.full border border-teal-900  max-sm:mb-10 ">
  </main>
</Layout>
