<header class="w-full px-24 py-12 mx-auto max-sm:px-5 max-sm:py-10 max-w-7xl">
  <a href="/" class="flex items-center gap-x-4">
    <image src="/heartbeat.png" alt="logo" class="w-16"></image>
    <p class="text-3xl uppercase text-zinc-900">blog</p>
  </a>
</header>
