---
import { getCollection } from 'astro:content';
type Props = {
  page: number;
  numberOfPosts: number;
};

const { page, numberOfPosts } = Astro.props;
const postsPerPage = Number(import.meta.env.POSTS_PER_PAGE);
const hasPrev = page > 1;
const hasNext = numberOfPosts > page * postsPerPage;
---

<div class='flex justify-between'>
  {
    hasPrev ? (
      <a
        href={`/blog?page=${page - 1}`}
        class='bg-teal-900 text-white py-3 px-6 rounded-xl text-xl'
      >
        Previous
      </a>
    ) : (
      <div />
    )
  }
  {
    hasNext ? (
      <a
        href={`/blog?page=${page + 1}`}
        class='bg-teal-900 text-white py-3 px-6 rounded-xl text-xl'
      >
        Next
      </a>
    ) : (
      <div />
    )
  }
</div>
